.layout-button {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: 47px;
  height: auto;
  padding: 5px 0 0 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  color: yellow;
}

.layout-button .layout-button-label {
  display: block;
  font-size: 11px;
  margin: 4px 0 0 0;
  text-align: center;
}

.layout-button .layout-button-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid yellow;
}

.layout-button .layout-button-icon .layout-button-icon-box {
  box-sizing: border-box;
  display: block;
  position: absolute;
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: 1px solid yellow;
  background-color: transparent;
}

.layout-button .layout-button-icon .layout-button-icon-box.highlighted {
  background-color: yellow;
}
