.layoutSelector {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: darkblue;
  cursor: pointer;
  padding: 10px;
}

.layoutSelector .layoutOptions {
  display: none;
  position: absolute;
  padding-top: 60px;
  background-color: darkslategrey;
  border: 1px solid rgb(177, 179, 179);
  border-radius: 5px;
  padding: 10px;
}

.layoutSelector:hover .layoutOptions {
  display: flex;
}

.layoutSelector .layoutOptions .layoutButton {
  margin: 0 1px;
}
