.layoutSelector {
  align-items: center;
  color: darkblue;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  padding: 6px 6px 0 6px;
}

.layoutSelector .layoutSelectorOptions {
  display: none;
  z-index: 1070;
  position: absolute;
  top: 60px;
  background-color: darkslategrey;
  border: 1px solid rgb(177, 179, 179);
  border-radius: 5px;
  padding: 10px;
}

.layoutSelector:hover .layoutSelectorOptions {
  display: flex;
}

.layoutSelector .layoutSelectorOptions .layoutButton {
  margin: 0 1px;
}
